<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net40" />
  <package id="MemBus" version="3.0.1" targetFramework="net45" />
  <package id="Nancy" version="0.22.0" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Autofac" version="0.22.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.22.0" targetFramework="net40" />
</packages>