<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MongoDbConnectionString" value="mongodb://localhost:27017"/>
    <add key="MongoDbDatabaseName" value="PoolCarManager"/>
    <add key="EventStoreIPAddress" value="127.0.0.1"/>
    <add key="EventStorePort" value="1113"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <compilation debug="true">
      <assemblies/>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors existingResponse="PassThrough"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>